/* Area GridBox */

.container {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Catalogo"
      "Catalogo";
  }
  
  .Catalogo {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Auto1 Auto1"
      "Auto2 Auto2"
      "Auto3 Auto3"
      "Auto4 Auto4"
      "Auto5 Auto5";
    grid-area: Catalogo;
  }
  
  .Auto1 { grid-area: Auto1; }
  
  .Auto2 { grid-area: Auto2; }
  
  .Auto3 { grid-area: Auto3; }
  
  .Auto4 { grid-area: Auto4; }
  
  .Auto5 { grid-area: Auto5; }
  

/* Estilos */

