/* Grid box */
.container {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 331px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Titulo Titulo"
      "Articulos Articulos";
  }
  
  .Titulo { grid-area: Titulo; }
  
  .Articulos {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Articulo1 Articulo1 Articulo2 Articulo2";
    grid-area: Articulos;
  }
  
  .Articulo1 { grid-area: Articulo1; }
  
  .Articulo2 { grid-area: Articulo2; }

/* Estilo de la sección principal */
main {
    text-align: center;
    padding: 44px;
}

/* Titulo */

.Titulo{
    padding: 100px;
    text-shadow: 0px 0px 10px black;
}

.separador {
    background-image: url("bandera.png");
    background-repeat: repeat;
    background-size: 100%;
    padding: 30px;
}

.hero {
    background-color: rgba(255, 0, 0, 0.5);
    padding: 10px;
    color: white;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero p{
    font-size: 25px;
    margin-bottom: 10px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF5733;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

/* Estilo de la sección de artículos */
.Articulos {
    text-shadow: 0px 0px 15px #FF5733;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    max-width: 1200px;
    padding: 0 20px;
}

/* Estilo de cada artículo */
.Articulo1 {
    flex-basis: calc(50% - 20px);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
}

.Articulo2 {
    flex-basis: calc(50% - 20px);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
}

.Articulos h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.Articulos p {
    font-size: 16px;
    margin-bottom: 20px;
}

.Articulos a {
    text-decoration: none;
    color: #FF5733;
}
